<header class="nav container" role="navigation">
	<a href="/" style="
    background: url(/images/newiconsprite2_appstore.png) no-repeat;
    background-position: 0 0;
    width: 35px;
    height: 35px;
    text-decoration: none;
    outline-style: none;
"></a>
	<h1>GSD</h1>
	<nav class="nav--links styles__links__2gREx">
		{{#ifvalue roleName equals="admin"}}
			<ul>
				<li class="nav--item-main styles__link__2UPsf">
					<a class="nav--link-main" href="/home">Dashboard</a>
				</li>
			</ul>
		{{else}}
			<ul>
				{{#if session}}
					<li class="nav--item-main styles__link__2UPsf">
						<a class="nav--link-main" href="/home">Dashboard</a>
					</li>
				{{/if}}
				<li class="nav--item-main styles__link__2UPsf dropdown">
					<a class="nav--link-main dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Issues</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="/feedback/createissue">Create Issue</a>
			          <a class="dropdown-item" href="/feedback/myissues">My Issues</a>
			        </div>
				</li>
			</ul>
		{{/ifvalue}}
		<div class="nav--button-container styles__buttons__tV5DY">
			{{#if session}}
				<a class="logged-in"> Welcome <span>{{session}}</span>({{roleName}}),</a>
				<span class="role-name"></span>
				<a href="/logout">Logout</a>
			{{ else }}
				<a class="nav--signup button m-blue {{pageTitle}}" href="/signup/">Sign up</a>
				<a class="nav--login button m-yellow {{pageTitle}}" href="/login/">Log in</a>
			{{/if}}
		</div>
	</nav>
</header>
<input type="hidden" value="{{env}}" id="environment">