<!DOCTYPE html>
{{>headinclude}}

<body class = "container-fluid">
	<div class="page-root">
	  {{>header}}
	  <div role="main" class="styles__layoutWrapper__nEkzc">
	  	 <div class="create-complaints">
	  	 	<input type="hidden" id="role-name" value="{{roleName}}" name="">
		  	<div class="tab-list">
		  	 	<ul>
		  		{{#ifvalue roleName equals="admin"}}
		  	 	<li class="track-request {{pageTitle}}">
	  	 			<a href="/feedback/myissues">Raised Issues</a>
	  	 		</li>
		  	 	{{else}}
		  	 		<li class="raise-request {{pageTitle}}">
		  	 			<a href="/feedback/createissue">Raise Request</a>
		  	 		</li>
		  	 		<li class="track-request {{pageTitle}}">
		  	 			<a href="/feedback/myissues">My Issues</a>
		  	 		</li>
		  	 	{{/ifvalue}}
		  	 	</ul>
		  	 </div>
	  		<div class="complaints-list dropdown-container">
		  	 	{{#if collegeName}}
			  	 	{{#ifvalue roleName equals="admin"}}
			  	 	{{else}}
			  			<div class="collg-name">College : <span>{{collegeName}}</span></div>
			  	 	{{/ifvalue}}
		  		{{/if}}
	  			{{#ifvalue pageTitle equals='createissue'}}
	  			<form>
					  <ul class="active" id="new-complaints-container">
					  </ul>
					<input type="submit" class="submit-ticket" name="">
					<input type="reset" class="reset-ticket" name="">
				</form>
				{{/ifvalue}}
				{{#ifvalue pageTitle equals='myissues'}}
					{{#if collections}}
						<table id="mycomplaints-container" class="table table-bordered">
							<thead class="thead-inverse">
								<tr>
									<th rowspan="1" colspan="1">#</th>
									{{#ifvalue roleName equals="admin"}}
									<th>College Name</th>
									{{/ifvalue}}
									<th>Request ID</th>
									<th>Request Date</th>
									<th>Category</th>
									<th>Comments</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{{#each collections}}
									<tr>
										<td>{{inc @index}}</td>
										{{#ifvalue ../roleName equals="admin"}}
											<td>{{this.Institute}}</td>
										{{/ifvalue}}
										<td><a href="/feedback/myissues/detail/{{this._id}}">{{this._id}}</a></td>
										<td>{{dateFormat this.createdAt "MM/d"}}</td>
										<td>{{this.Category}}</td>
										{{#each this.EnteredQuery}}
											{{#if @last}}
												<td><span>{{this.rolename}}: </span>{{this.thoughts}}</td>
											{{/if}} 
										{{/each}}
										<td>
										{{#ifvalue ../roleName equals="admin"}}
											<select class="custom-select dropdown">
												<option selected>{{this.Status}}</option>
												<option>Closed</option>
												<option>Re-Open</option>
											</select>
										{{else}}
											<select class="custom-select dropdown" disabled="">
												<option selected>{{this.Status}}</option>
											</select>
										{{/ifvalue}}
										</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<table id="mycomplaints-container" class="empty-message" >
							<tr>
								<td>No Tickets to show</td>
							</tr>
						</table>
					{{/if}}
				{{/ifvalue}}
				{{#ifvalue pageTitle equals='Feedback'}}
					<a href="feedback/createissue">Create Issue</a>
					<a href="feedback/myissues">My Issues</a>
				{{/ifvalue}}
	  		</div>
	  	</div>
	  </div>


	  <script type="text/template" id="new-complaints-template">
		  	<li class="dropdown-list">
		  		<label>Category <span>:</span></label>
		  		<div>
				  	<select class="custom-select dropdown ticket-field">
						<option selected>List Of Categories</option>
						<% _.each(feedbackFields,function(item){ %>
							<option><%= item %></option>
						<% }) %>
					</select>
				</div>
			</li>
			<li class="dropdown-list">
				<label>Queries List <span>:</span></label>		
				<div>
					<select class="custom-select dropdown ticket-field" disabled="">
						<option selected>select your queries</option>
					</select>
				</div>
			</li>
			<li class="text-list">
				<label>Enter Your Queries<span>:</span></label>
				<div>
					<textarea placeholder="type here." disabled="" class="ticket-field"></textarea>
				</div>
			</li>
			<li  class="dropdown-list">
				<label>Status<span>:</span></label>
				<div>
					<select class="custom-select dropdown" disabled="">
						<option selected>NEW</option>
						<option>Closed</option>
						<option>Re-Open</option>
					</select>
				</div>
			</li>
	  </script>



		<script>
			var pageName = "{{pageTitle}}"
		</script>
	  {{>footer}}
	</div>
</body>

</html>
